<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="OMK Bridge">

<title>OSM Layout</title>

<link rel="stylesheet" href="css/base/normalize.css"/>
<link rel="stylesheet" href="css/base/pure-min.css"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="css/base/font-awesome.min.css"/>

<!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/style.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="css/layouts/style.css">
<!--<![endif]-->
</head>
<body>
<div id="login-box" class="auth-box">
    <h1>OMK Bridge</h1>
        
    <div class="form-holder">
        <div class="navbar">Login to Ona</div>
        
        <form class="pure-form pure-form-stacked" method="post">
        <fieldset>
            <div class="alert alert-error">
                <i class="fa fa-times"></i> Enter the correct Username and Password
            </div>
            <div class="pure-control-group">
              <label for="email"></label>
              <input id="email" type="email" placeholder="Ona Username" autofocus/>
            </div>
            <div class="pure-control-group">
              <label for="password"></label>
              <input id="password" type="password" placeholder="Ona Password"/>
            </div>
            <div class="pure-control-group">
                <button type="submit" class="pure-button pure-button-default">
                    <i class="fa fa-user"></i> Log in
                </button>
                <a href="https://beta.ona.io/request-password-reset" target="_blank" 
                   class="forgot-password-link t-small">Forgot your password?</a>
            </div>
        </fieldset>
        </form>
    </div>
</div>
</script>
</body>
</html>
